/* style.css */

html {
	font-family: sans-serif;

}

p {
	color:#000000;
	font-family: serif;
}

span.harry {
	color: #ffd1dc;
}

ol.menu {
	padding: 10px;
}

li.menu {
	list-style-type: none;
	height: 30px;
	width: 200px
}

li.menu:hover{
	background: white;
}

h1 {
	padding: 10px;
}

.mydiv {
	background: lightblue;

}

div.menu {
	float: right;
	background: orange;

}

.cake {
	background: #c9c9c9;
}

.chocolate {
	background: #fc8f8b;
}

.burger {
	color: #fc8f8b;
}

.title {
	background: #fcef8b;
	text-align: center;
	color: white;
}

.content {
	background: lightgreen;
	margin: 0px;
}
